<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Peer review site!">
	<title>Revisely!</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
	<link href="/static/css/base.css" rel="stylesheet" type="text/css">
	<link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- {% if form.errors %} -->
	<!-- <p>Your username and password didn't match. Please try again.</p> -->
	<!-- {% endif %} -->

	<header>
		<div class="container">
			<div class="jumbotron">
				<div>
					<h1 id="logo">Revisely</h1>
					<h2 class="light">Peer editing for the web</h2>
				</div>
				<a data-toggle="modal" href="#signup" class="btn btn-success btn-huge"><i class="icon-caret-right"></i>&nbsp Get started</a>
				<br>
				<p class="light"> Got an account? <a data-toggle="modal" href="#login">Log in.</a></p>
			</div>
			<img src="http://placehold.it/600x400&text=screenshot">
		</div>
	</header>
	<!-- Modal -->
	<div class="modal fade" id="signup" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Sign Up</h4>
				</div>
				<form method="post" action="/createuser/" id="signup">
					<div class="modal-body">
							{% csrf_token %} 
							Username:
							<br>
							<input type="text" name="username" required="required"><br>
							Password:
							<br>
							<input type="password" name="pass" required="required"><br>
							Confirm Password:
							<br>
							<input type="password" name="confirm" required="required"><br>
							<br>	
							<!--<iframe src="http://crapcha.com/embed/" frameborder="0" scrolling="0" width="300" height="150"></iframe>-->
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success btn-lg">Sign up</button>
					</div>
				</form>
			</div>
		</div>		
	</div><!-- /.modal -->

	<div class="modal fade" id="login" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Login</h4>
				</div>
				<form method="post" action="{% url "django.contrib.auth.views.login" %}" id="login">
					<div class="modal-body">
							{% csrf_token %}
							<br>
							{{ form.username.label_tag }} 
							{{ form.username }} 
							<br>
							{{ form.password.label_tag }} 
							{{ form.password }}
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success btn-lg">Log in</button>
						<input type="hidden" name="next" value="{{ next }}" />
					</div>
				</form>
			</div>
		</div>		
	</div>

</form>
<div class="container">
	<div class="row">
		After spending hours working on a piece of writing, it can be hard to trust your own judgement. Peer editing can be a good way to revise your work, but is impossible without someone else. Enter Revisely, which allows you to post any piece of writing you are working on along with a specific question. By putting a point bounty on your question, you can ensure an accurate answer. Contributing to the community and answering others' questions will earn you even more points to ask questions of your own.
      </div>
</div>
<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>