<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Revisely</title>
	<!-- Include Bootstrap, universal styles, Jquery and Javascript -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">

	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
	<link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
	<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script> 
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


	{% block customscripts %}
	{% endblock %}

</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Revisely</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li id="dash"><a href="/">Dashboard</a></li>
				<li id="profile"><a href="/profile/mine/">Profile</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>