{% extends "edit/base.html" %}

{% block customscripts %}
<script type="text/javascript">
$(document).ready(function() {
	$("#dash").addClass("active");
});	
</script>
{% endblock customscripts %}
{% block content %}
{% if user %}

{% endif %}

<div class="container">
	<!-- Logged in as: {{ user.username }}, {{ author.points }} pts <a href="/signout/">Sign out</a><br> -->
	{% if notification_list %}
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ notification_list|length }} notifications!
	</div>
	{% endif %}
	<div class="row box">
		<div class="col-sm-8">
			<a class="btn btn-large btn-success" href="/submit"><i class="icon-fixed-width icon-pencil"></i>Submit a paper</a>
		</div>
		<div class="col-sm-4">
			{{ user.username }}, {{ author.points }} pts <a href="/signout/">Sign out</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			{% if notification_list %}
			<ul class="notifications">
				{% for notification in notification_list %}
				<li>{{ notification.content }}</li>
				{% endfor %}
			</ul>
			{% else %}
			<br>
			<p> No notifications. </p>
			{% endif %}
		</div>

		<div class="col-sm-8">
			<h3>Papers that Need Revisions</h3>
			{% if latest_paper_list %}
			<ul class="submissions">
				{% for paper in latest_paper_list %}
				<li><a class="paper" href="/edit/{{paper.id}}/"><span class="label-primary">{{ paper.points }} pts</span> {{ paper.question }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<br>
			<p>No papers! How about you submit one?</p>
			{% endif %}
		</div>
	</div>
	
</div>
{% endblock %}
