{% extends "edit/base.html" %}

{% block content %}
{% if user %}
	<div style="float:right"> Logged in as: {{ user.username }}, {{ author.points }} pts <a href="/signout/">Sign out</a></div>
{% endif %}
<a href="/submit">Submit a paper</a>

{% if latest_paper_list %}
    <ul>
    {% for paper in latest_paper_list %}
        <li><a href="/edit/{{paper.id}}/">({{ paper.points }} pts) {{ paper.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No papers to edit! How about you submit one?</p>
{% endif %}
 
 {% endblock %}