<h1> {{ paper.question }} </h1>

<p id="paper-body"> {{ paper.body }} </p>

<p> <strong>Feedback:</strong> </p>
<form method="post" action="/submitfeedback/">
{% csrf_token %}
<input type="text" name="feedback">
<input type="hidden" name="paper" value={{ paper.id }}>
<input type="submit" value="Submit">
</form>
<ul>
{% for feedback in feedback_list %}
	<li> {{ feedback.content }} <a href="/bestfeedback/{{ feedback.id }}" style="float: right;">Choose as best</a><br> - {{ feedback.author.user.username }} </li>
{% endfor %}
</ul>