{% extends "edit/base.html" %}

{% block content %}
<h1> {{ paper.question }} </h1>

<p id="paper-body"> {{ paper.body }} </p>

{% if ownPaper %}
{% else %}
<p> <strong>Feedback:</strong> </p>
<form method="post" action="/submitfeedback/">
{% csrf_token %}
<input type="text" name="feedback" required="required">
<input type="hidden" name="paper" value={{ paper.id }}>
<input type="submit" class="btn" value="Submit">
</form>
{% endif %}
<ul>
{% for feedback in feedback_list %}
	<li> {{ feedback.content }} {% if ownPaper %}<a href="/bestfeedback/{{ feedback.id }}" style="float: right;">Choose as best</a>{% endif %}<br> - {{ feedback.author.user.username }} </li>
{% endfor %}
</ul>
{% endblock %}