{% extends "edit/base.html" %}

{% block customscripts %}
<script>
	$(document).ready(function(){
		var modified = false;
		$("#form").on("submit", function(e){
			if(!modified) { 
				modified = true;
				e.preventDefault();
				$("#bodyForm").val($("#bodyForm").val().replace("<", "< "));
				$("#bodyForm").val($("#bodyForm").val().replace("</", "< "));

				$("#bodyForm").val($("#bodyForm").val().replace(/\n/g, "<br />"));
				$("#form").submit();
				return false;
			}
		});
	});
</script>
{% endblock %}
{% block content %}
<form id="form" action="/submitpaper/" method="post">
{% csrf_token %}
Question <br>
<input style="width:100%" type="text" name="question" required="required"><br>
Description <em style="font-size:10px">Provide any ellaboration on your question. Not required.</em><br>
<textarea style="width:100%" rows="5" name="description">
</textarea>
<br>
Content <br>
<textarea id="bodyForm" style="width:100%" rows="50"  name="body" required="required">
</textarea>
<br>
Points <br>
<input type="number" name="points" min="1" max={{ author.points }} required="required">
<input type="submit" class="btn" value="Submit">
</form>
{% endblock %}
