* {
	border-radius: 0 !important;
}
body {
	padding-top: 0px;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	/*background-color: #4EA3E5;*/
	/*background-color: #F4901D; */
}

a {
	color: #4EA3E5;
}

a.paper:hover {
	text-decoration: none;
}

input {
	width: 99%;
}

.light {
	color: darkgrey;
}

.fade {
	background-color: rgba(244, 144, 19, 0.6);
}

.modal-body {
	padding: 5px 20px;
}

.modal-footer {
	text-align: left;
}

.btn {
	border: 0;
}

.label-primary {
	background-color: lightgray;
	padding-left: 2px;
	padding-right: 2px;
}

input.btn {
	border: 0;
	background-color: orange;
	color: white;
	width: 10%;
	margin-top: 2px;
}

.btn-success {
	background-color: #3EB200;
}

.btn-success:hover {
	background-color: #F4901D;
}

.btn-lg {
	font-size: 36px;
}

.btn-huge {
	font-size: 48px;
	padding: 15px 25px;
	background-color: #F4A037;
}

.btn-huge:hover {
	background-color: #3EB200;
}

.highlight{
    background-color:#F3F781;
}

@media (min-width: 768px) {
	.container {
		max-width: 80%;
		margin: 0 auto;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	list-style-type: none;
	border-bottom: 2px solid black;
}
