body {
	padding-top: 75px;
}

#logo {
	font-size: 48px;
}
.jumbotron {
	text-align: center;
	background-color: #F9F9F9;
	box-shadow: 0 0 5px #CCCCCC;
}
.btn-huge {
	font-size: 24px;
	padding: 15px 25px;
	background-color: #F4A037;
}
.btn-huge:hover {
	background-color: #3EB200;
}
@media (min-width: 768px) {
	.jumbotron {
		text-align: left;
	}
	.jumbotron img {
		float: right;
		padding-top: 5%;
	}
	.btn-huge {
		font-size: 28px;
		width: auto;
	}
}
@media (min-width: 1200px) {
	.jumbotron img {
		padding-top: 0;
		width: 50%;
		margin-right: 20px;
	}
	.btn-huge {
		font-size: 36px;
	}
}