body {
	padding-top: 75px;
}

#logo {
	font-size: 48px;
}
.jumbotron {
	text-align: center;
	background-color: #F9F9F9;
	box-shadow: 0 0 5px #CCCCCC;
}
@media (min-width: 768px) {
	.jumbotron {
		text-align: left;
	}
	.jumbotron img {
		float: right;
		padding-top: 5%;
	}
}
@media (min-width: 1200px) {
	.jumbotron img {
		padding-top: 0;
		width: 50%;
	}
}